/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@layer base {
    @font-face {
        font-family: 'Harabara';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Harabara.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Bariol';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Bariol_Bold.woff) format('woff');
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Harabara;
    letter-spacing: 0.12rem;
}
p, a, li, button {
    font-family: Bariol;
}